.container-main{
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 400px;
}

.search-result{
  @media only screen and ( max-width: 960px ) {
    thead{
      display: none;
    }
    tbody{
      display: block;
    }
    tr{
      display: block;
      border-bottom: 1px solid #4041e4;
      &:after{
        content: "";
        display: block;
        height: 0;
        clear: both;
      }
    }
    th, td{
      border: none;
    }
    th{
      display: block;
    }
    td{
      display: inline-block;
      float: left;
      &:last-child{
        float: right;
      }
    }
  }
}
